.footer {
    margin: 100px 0 40px;
    text-align: center;
}

.footer {
    margin: 5px 0;
}

.footer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    background-color: rgb(46, 43, 43);
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.footerTag {
    padding-bottom: 5rem;
    font-size: 15px;
    color: gray;
}