.hero {
    height: 500px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../public/imgs/Vecteezy_College\ Student\ Posing_Character_AS072021-2.jpg') no-repeat center center;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    align-self: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 15, 15, 0.7);
}

.hero * {
    z-index: 10;
}

.heroContent {
    padding: 0 1rem;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 0;
    letter-spacing: 4px;
}

.hero h2 {
    text-decoration: none;
    color: #4682b4;
    left: 4px;
    font-size: 20px;
    letter-spacing: 4px;
}